// Place all the styles related to the ccsf_rails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background-color:white;
$font-family:arial, helvetica;
$font-size:9pt;
$color:black;

body { background-color:$background-color; font-family:$font-family; color:$color; font-size:$font-size; }
p { font-family: $font-family; font-size:$font-size; background-color:pink; text-align:center;}
div { font-family:$font-family;}
a { color:pink; text-decoration: none;}
a:hover {color:white; }
table { top: 300px; }
td { padding: 25px 25px 25px 25px; width: 200px; height: 200px; }